:root {
	--body-background-color: #fffffe;
	--clr-primary: #272343;
	--clr-secondary: #e3f6f5;
	// --clr-accent: hsl(51, 100%, 51%);
	--clr-accent: hsl(29, 100%, 63%);
	--clr-btn-hover: hsl(29, 100%, 73%);

	--clr-text-300: hsl(228, 10%, 40%);
	--clr-text-400: hsl(228, 24%, 23%);

	--clr-gray-100: hsl(0, 0%, 83%); // d4d4d4
	--clr-gray-200: hsl(0, 0%, 84%); //d6d6d6
	--clr-gray-300: hsl(0, 0%, 64%);
	--clr-gray-400: hsl(0, 0%, 84%);
}
